@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Geist";
  src: url("/assets/fonts/GeistVF.woff2") format("woff2-variations"),
    url("/assets/fonts/GeistVF.woff") format("woff-variations");
  font-weight: 100 900;
}

body {
  background: rgb(134 239 172);
  font-family: "Geist", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

.animate-bounce {
  animation-duration: 2s;
}

.background_numscale_row {
  background: rgb(31, 255, 0);
  background: linear-gradient(
    90deg,
    rgba(31, 255, 0, 0.6) 0%,
    rgba(251, 240, 0, 0.6) 48%,
    rgba(255, 0, 0, 0.6) 100%
  );
}

.searchBox {
  width: fit-content;
}

.closeIcon {
  filter: brightness(0%);
}
