@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;      
}

body {
    background: rgb(134 239 172)
}

.animate-bounce {
    animation-duration: 2s;
  }

/* .multiselect-container {
    width: 43rem;
    color: rgb(22 101 52)
} */

@media screen and (max-width: 1150px) {
    .search-box  {
      width: 100%;
    }
  }

